.hero{
    background-image: url("/assets/imgs/HeroImg.png");
    height: 120vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;

}

.hero h1{
    color: white;
    font-family: "Bebas Neue";
    text-align: center;
    font-size: 4rem;
    padding-top: 1em;
}

.scrollArrow{
    display: none;
}


@media screen and (max-width: 768px) {
    .hero{
        height: 100vh;
    }
    .scrollArrow{
        display: flex;
        width: 4em;
        
        position: absolute;
        bottom: 5%;
        left: 44%;
    }
   
}